<div class="header col-12">
    <div class="col-1">
        <img src="/img/K_Guard_logo.png" alt="" class="logoHeader">
    </div>
    <div class="col-11">
        <ul class="navigateHeader">
            <li>Trang chủ</li>
            <li>Tin tức</li>
            <li>Sản phẩm</li>
            <li>Thương hiệu</li>
            <li>Đăng nhập</li>
        </ul>
    </div>
</div>