<div class="header col-12">
    <div class="col-1">
        <img src="/image/K_Guard_logo.png" alt="" class="logoHeader">
    </div>
    <div class="col-11">
        <ul class="navigateHeader">
            <li>
                <a href="/home">Trang chủ</a>
            </li>
            <li>Tin tức</li>
            <li>Sản phẩm</li>
            <li>Thương hiệu</li>
            {{#if username}}
                <li class="option">
                    <a href="/"> {{username}}</a>
                    <ul class="subNavigateHeader">
                        <li>
                            {{#if statusLogin}}
                                <a href="/logout">Đăng xuất</a>
                            {{/if}}
                            {{#unless statusLogin}}
                                <a href="/login">Đăng nhập</a>
                            {{/unless}}
                        </li>
                    </ul>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
