.header {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 9px lightgray;
}

.logoHeader {
  height: 5rem;
}

.navigateHeader {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.navigateHeader li {
  margin: 0 1rem;
  min-width: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
}

.navigateHeader > li:hover {
  color: #fff;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: coral;
  border-radius: 10px;
}
.navigateHeader > li:hover:last-child {
  border-radius: 10px 10px 0 0;
}

.navigateHeader > li > a {
  text-decoration: none;
  color: #000;
}

.navigateHeader > li:hover > a {
  color: #fff;
}

.option {
  position: relative;
}

.subNavigateHeader {
  display: none;
}

.subNavigateHeader > li {
  background-color: #fff;
  margin: 0;
  padding: 0.5rem;
  min-width: 10rem;
  color: black;
  font-weight: 500;
}

.subNavigateHeader > li:hover > a {
 color: coral;
}

.option:hover .subNavigateHeader {
  display: block;
  position: absolute;
  top: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}